/* Este archivo CSS contiene diseños generales que se usan en todos los HTML
   Por ejemplo lo que es el navegador y el pie de pagina */

/* Diseño barra de navegación */

.navegador {
    grid-area: navegador;
    position: sticky;
    z-index: 100;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template: 100% / 344px calc(100% - 344px);
    grid-template-areas: "logo_box nav_tabs";
    row-gap: 0;
    

    justify-content: start;
    align-items: center;
    padding: 0px;
    background-color: rgb(248, 236, 209);
    color: #89579b;

    border-style: none none solid none;
}

.nav_tabs{
    grid-area: nav_tabs;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.nav_tabs a:visited{
    color: inherit;
}

.nav_tabs a{
    height: 100%;
}

.nav_tabs a:hover{
    color: #89579b;
}


.tab {

    margin: 0px;
    
    height: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 0 auto;
    text-decoration: none; 
}

.tab:hover{
    background-color: white;
    text-decoration: underline;
}




/* Caja que contiene al logo,
 titulo de la página web y su motto */
 .logo_box {
    
    grid-area: logo_box;
    height: 100%;
    display: grid;
    grid-template: 70% 30% / 20% 80%;
    grid-template-areas: "logo titulo_pagina"
                         "logo motto";
    
    justify-content: start;
    align-items: center;
    
    padding-left: 10px;
    
    column-gap: 5px;
}

.logo_box > a{
    padding: 0;
}

.logo{
    grid-area: logo;
    padding: 0;
    
    height: 100%;
    width: 100%;
    
    box-sizing: border-box;


    display:flex;
    justify-content: center;
    align-items: center;
}


.logo img{
    
    height: 100%;
    object-fit: cover;
    position: relative;
}


.titulo_pagina {
    
    grid-area: titulo_pagina;
    margin-top: 0;
    font-weight: bold;
    font-size: 4vh;
    font-family: 'Dancing Script', cursive;
    box-sizing: border-box;
}

.motto{
    grid-area: motto;
    box-sizing: border-box;
    
}

.motto > *{
    text-align: center;
    margin-top: 0px;
    font-size: 1.5vh;
}

/* Media queries para el navegador cuando el ancho y alto de la pantalla cambia */
@media only screen and (max-width: 768px){
    .navegador{
        display: grid;
        grid-template: 60% 40% / 100%;
        grid-template-areas: "logo_box"
                             "nav_tabs";
        
    }

    .logo_box{
        column-gap: 0;
        grid-template-columns: 46.11px 223.73px;
        justify-content: center;
        padding: 0;
    }

    .logo{
        justify-content: end;
        width: auto;
    }

    .tab *{
        font-size: x-small;
    }
}

@media only screen and (min-height: 844px){
    
    .logo_box{
        column-gap: 0;
        grid-template-columns: 46.11px 264.73px;
        justify-content: center;
        padding-left: 10px;
        column-gap: 10px;
        padding: 0;
    }
}

@media only screen and (min-height: 913px){
    .logo_box{
        column-gap: 0;
        grid-template-columns: 46.11px 301.73px;
        justify-content: center;
        padding: 0;
    }

    .tab *{
        font-size: small;
    }
}

@media only screen and (min-height: 1024px){
    .logo_box{
        column-gap: 0;
        grid-template-columns: 46.11px 301.73px;
        justify-content: center;
        padding: 0;
    }

    .tab *{
        font-size: large;
    }
}


@media screen and (min-height: 1180px){

    .navegador{
        display: grid;
        grid-template: 60% 40% / 100%;
        grid-template-areas: "logo_box"
                             "nav_tabs";
        
    }

    .logo_box{
        column-gap: 0;
        grid-template-columns: 46.11px 347.73px;
        justify-content: center;
        padding: 0;
    }

    .logo{
        justify-content: end;
        width: auto;
    }

    .tab *{
        font-size: large;
    }
}

@media screen and  (min-height: 1368px){
    .logo_box{
        column-gap: 0;
        grid-template-columns: 46.11px 402.73px;
        justify-content: center;
        padding: 0;
    }

    .tab *{
        font-size: x-large;
    }
}


/* ************************************* */

/* Diseño footer */
footer {
    grid-area: footer;
    background-color:#f8ecd1 ;
    color:#89579b ;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    text-align: center;
    border-style: solid none none none;
}

.redes-sociales {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.redes-sociales li {
    display: inline-block;
    margin-right: 10px;
}


