.box_design{
    background-color: #fff9f2;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    padding: 10px;
    text-align: center;
}

footer{
    grid-area: footer;

    background-color: greenyellow;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    text-align: center;
}