@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(248, 236, 209);
    /* width: 100vw; */
}

body .container{
    width: inherit;
}

a{
    text-decoration: none;
}

/* .no_content{
    grid-area: no_content;
}

.no_content_1{
    grid-area: no_content_1;
}

.no_content_2{
    grid-area: no_content_2;
} */

.container{
    background-color: rgb(248, 236, 209);
    
    display: grid;
    /* gap: 15px; */
    /* align-content: space-evenly; */
    grid-template: 10.5vh auto auto auto 20vh / 20% 55% 25%;
    grid-template-areas:"navegador navegador navegador" 
                        "middle_area middle_area right_side"
                         "middle_area middle_area right_side"
                         "middle_area middle_area right_side"
                         "footer footer footer";
}

/* .left_side{
    grid-area: left_side;
    display: flex;
    flex-direction: column;
} */

.right_side{
    grid-area: right_side;
    display: flex;
    flex-direction: column;
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
    /* height: 100%;
    width: 100%; */
    width: 100%;

    /* margin-right: 10px; */
    /* align-items: center;
    justify-content: center; */
}



/* Diseño barra de navegación */

.navegador {
    grid-area: navegador;
    position: sticky;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template: 100% / 310px calc(100% - 310px);
    grid-template-areas: "logo_box nav_tabs";
    row-gap: 0;
    

    justify-content: start;
    align-items: center;
    padding: 0px;
    background-color: rgb(248, 236, 209);
    color: #89579b;

    border-style: none none outset none;
}

.nav_tabs{
    grid-area: nav_tabs;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;
    align-items: center; */
}

.nav_tabs a:visited{
    color: inherit;
}

.nav_tabs a{
    height: 100%;
}

.nav_tabs a:hover{
    color: #89579b;
}


.tab {

    margin: 0px;
    /* padding-bottom: 10px;
    padding-top: 10px; */
    
    height: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 0 auto;
    text-decoration: none; 
}

.tab:hover{
    background-color: white;
    text-decoration: underline;
}




/* Caja que contiene al logo,
 titulo de la página web y su motto */
 .logo_box {
    /* flex: 0 0 290px; */
    grid-area: logo_box;
    height: 100%;
    display: grid;
    grid-template: 70% 30% / 20% 80%;
    grid-template-areas: "logo titulo_pagina"
                         "logo motto";
    
    justify-content: start;
    align-items: center;
    /* padding-top: 0.5vh;
    padding-bottom: 0.5vh; */
    padding-left: 10px;
    /* column-gap: 10px; */
    /* flex-wrap: wrap; */
}

.logo_box > a{
    padding: 0;
}

.logo{
    grid-area: logo;
    padding: 0;
    /* object-fit: cover; */
    /* width: 100%;
    max-height: 100%; */
    height: 100%;
    width: 100%;
    
    box-sizing: border-box;


    display:flex;
    justify-content: center;
    align-items: center;
}


.logo img{
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    position: relative;
}


.titulo_pagina {
    /* width: auto; */
    /* width: 100%; */
    /* height: 100%; */
    grid-area: titulo_pagina;
    margin-top: 0;
    font-weight: bold;
    font-size: 4vh;
    font-family: 'Dancing Script', cursive;
    box-sizing: border-box;
}

.motto{
    grid-area: motto;
    box-sizing: border-box;
    
}

.motto > *{
    text-align: center;
    margin-top: 0px;
    font-size: 1.5vh;
}
/* ************************************* */






.middle_area{
    grid-area: middle_area;
    /* height: 100%; */
    /* width: 100%; */
    
    /* margin-left: 10px; */
    background-color: #FAF9FB;
    display: flex;
    flex-direction: column;
    /* row-gap: 10px; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* padding: 10px; */
    /* width: 50%; */
    box-sizing: border-box;
}

.middle_area > *{
    background-color: white;
    border-radius: 10px;
    /* width: 90%; */
}

.search_recipe{
    box-sizing: border-box;
    /* flex: 1 0 0; */
}

.share_recipe{
    box-sizing: border-box;
    /* flex: 1 0 0; */
}

/** Seccion ultimas historias compartidas ****/


.latest_histories_section{
    box-sizing: border-box;
    /* flex: 1 0 0; */
    display: flex;
    /* height: 100%; */
    flex-direction: column;
    color: crimson;
    

}

.header_latest_histories_section{
    box-sizing: border-box;
    /* flex: 1 0 0; */
    /* text-align: center; */
}

.latest_histories_boxes{
    box-sizing: border-box;
    /* height: 100%; */
    /* flex: 1 0 0; */
    display: flex;
    flex-direction: row;
    background-color: aqua;
    /* padding: 20px; */
    /* gap: 10px; */
    /* justify-content: center;
    align-items: flex-start; */
    /* column-gap: 10px; */
    /* flex-wrap: wrap; */
}

.history_box{
    box-sizing: border-box;
    /* height: 100%; */
    /* flex: 1 0 0; */
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    background-color: chocolate;
    color: black;
    /* padding: 10px; */

    /* border: 3px; */
    
    border-radius: 10px;
    overflow: hidden;

    /* align-items: center;
    justify-content: center; */

    /* padding: 5px; */
    
}

.history_box:hover{
    color:blue;
    text-decoration: underline;

}

.history_box:hover img{
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.history_box img{
    box-sizing: border-box;
    /* width: 100%; */
    /* position:relative; */
    /* flex: 1 0 0; */
    
}

/* .history_box > *{ */
    /* text-align: center; */
/* } */

.history_title{
    box-sizing: border-box;
    /* flex: 1 0 0; */
    /* height: 100%; */
    /* padding-top: 10px; */
}

/**** Fin diseño seccion historias *********/


.latest_recipes{
    /* flex: 1 0 0; */
    grid-area: latest_recipes;
    display: flex;

    flex-direction: column;

    /* height: 100%; */
    /* width: 100%; */
    
    background-color: white;
    
    box-sizing: border-box;
    /* align-items: center;
    justify-content: center; */

    /* row-gap: 10px; */

    /* flex-wrap: wrap; */
}



.header_latest_recipes{
    /* flex: 0 0 0; */
    /* width: 92%; */
}


/***************************************/


/* Diseño caja que muestra una receta */

.recipe_box{
    /* flex: 0 0 0; */

    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    color: #b40432;
    
    /* align-items: center;
    justify-content: center; */
    
    /* width: 92%; */
    
    border-radius: 10px;
    
    box-sizing: border-box;
    
    /* padding: 5px; */
    overflow: hidden;
    
}

.recipe_box_img{
    flex: 0  0 0;
    /* height: 50px;
    width: 250px; */
    box-sizing: border-box;
    
}

.recipe_box_img img{
    object-fit: cover;
    /* height: auto; */
    vertical-align: middle;
    border-radius: 5px;
    width: 100%;
    

    /* width: 92%; */
    
}



.recipe_box:hover{
    color:blue;
    text-decoration: underline;

}

.recipe_box:hover .recipe_box_img img{
    transform: scale(1.05);
    transition: transform 0.5s ease;
}


.recipe_title{
    /* padding-top: 10px; */
    /* width: 100%; */
    flex: 0 0 0;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    /* width: 92%; */
}

/**********************************/





@media only screen and (max-width: 768px){
    .container{
        grid-template: 10.5vh auto auto 20vh / 20% 55% 25%;
        grid-template-areas:"navegador navegador navegador"
                            "middle_area middle_area middle_area"
                            "right_side right_side right_side"
                            "footer footer footer";
        column-gap: 0;
    }

    .navegador{
        display: grid;
        grid-template: 60% 40% / 100%;
        grid-template-areas: "logo_box"
                             "nav_tabs";
        
    }

    .logo_box{
        column-gap: 0;
        grid-template-columns: 46.11px 223.73px;
        justify-content: center;
        padding: 0;
    }

    .logo{
        justify-content: end;
        width: auto;
    }

    .tab *{
        font-size: x-small;
    }

}


/* @media only screen and (max-width: 600px){
    .container{
        grid-template-areas:"navegador navegador navegador"
                            "middle_area middle_area middle_area"
                            "right_side right_side right_side"
                            "footer footer footer"
    }
} */



